/*autoprefix*/

section {
  height: 55vh;
  position: relative;
}

.column {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

.trailer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: white;
  padding: 0px;
  animation: 2s all ease-in;
  transition: 2s all ease-in;
}

.trailer .close-btn {
  position: fixed;
  top: 10vh;
  left: 85%;
  z-index: 2;
}

.closing {
  top: 500px;
  left: 45px;
  width: 450px;
  height: 450px;
  background: rgba(255, 255, 255, 0);
}

.closed {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0);
}

.space-trailer {
  align-self: flex-end;
  padding: 0px;
  height: 100%;
}

.space-trailer video {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.transparente {
  animation-delay: 5s;
  background-color: rgba(255, 255, 255, 0.01);
}

.trailer video {
  width: 95%;
  height: 95%;
}

.navbar {
  height: 50px;
  display: flex;
  flex-flow: row;
  opacity: 0.3;
  background-color: aqua;
}

.navbar .logo {
  padding-left: 25px;
  flex: 3;
  align-self: center;
}

.navbar .anchors {
  display: flex;
  flex-flow: row;
  flex: 3;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  padding: 10px;
  align-self: center;
  font-size: 19px;
  height: auto;
  width: auto;
  animation: 2s all ease-in;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  display: inline-block;
}

.navbar a:hover {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.navbar .anchors ul {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

.navbar .anchors .bg {
  outline: black solid 2px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg1 {
  height: 45vh;
  background-image: url(../img/bg1.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-attachment: fixed;
  margin-top: -4em;
}

.section1 {
  background-color: antiquewhite;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.section1 * {
  animation-duration: 2s !important;
}

.section1 .content {
  flex: 7;
}

.space7 {
  flex: 7;
}

.space2 {
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  -o-flex: 2;
  flex: 2;
}

.section1 .left {
  flex: 4;
}

.section1 .left .title {
  flex: 3;
  align-self: inherit;
  text-align: center;
  justify-content: flex-end;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.section1 .left .description {
  flex: 7;
  justify-content: flex-start;
  text-align: justify;
  padding: 5%;
  padding-top: 0%;
  box-sizing: border-box;
}

.section1 .cover {
  padding: 15px;
  margin-right: 10%;
  flex: 4;
}

.section2 {
  background-color: aquamarine;
  min-height: 600px;
}

.section2 * {
  animation-duration: 2s !important;
}

.section2 .title {
  font-size: 2em;
  margin-left: 4em;
}

.section2 i {
  flex: 5;
  align-self: center;
  font-size: 2.5em;
}

.section2 .news-reel {
  flex: 95;
  overflow: scroll;
  margin-bottom: 3em;
}

.section2 .new {
  box-sizing: border-box;
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  justify-content: center;
  background-color: rgba(250, 235, 215, 0.3);
  border-radius: 25px;
  padding: 15px;
  transition: 1.5s all cubic-bezier(.74, 1.21, .62, .47);
  position: relative;
  transform-style: preserve-3d;
}

.new .front,
.new .back {
  position: absolute;
  top: 0px;
  backface-visibility: hidden;
}
.new .back{
  transform: rotateY(180deg);
  box-sizing: border-box;
  width: 350px;
  height: 300px;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  background-color: rgba(64, 240, 118, 0.6);
  font-size: 2em;
  text-align: center;
  padding-top: 50px;
}
.back a{
  text-decoration: none;
  color: white;
}
.back img{
  height: 200px;
  width: 250px;
  margin: 0px;

}
.section2 .new:hover {
  -webkit-cursor: url(../img/pointer.png), auto;
  -moz-cursor: url(../img/pointer.png), auto;
  -ms-cursor: url(../img/pointer.png), auto;
  -o-cursor: url(../img/pointer.png), auto;
  cursor: url(../img/pointer.png), auto;
  transform: rotateY(540deg);
}

.section2 .news-reel .separator {
  border: 1px solid grey;
  height: 200px;
  flex-flow: column;
  align-self: center;
  margin-left: 1em;
  margin-right: 2em;
}

.bg2 {
  height: 75vh;
  background-image: url(../img/bg2.jpg);
  background-position: top center;
  background-size: 100% 120%;
  background-attachment: fixed;
}

.section3 {
  background-color: gainsboro;
  height: 85vh;
  padding: 3em;
}

.section3 .title {
  font-size: 2em;
  margin-left: 2em
}

.section3 .showreel {
  overflow: scroll;
  flex-flow: wrap;
  justify-content: center;
}
#gallery .imgGallery{
  position: relative;
  margin: 1.2em;
}
.imgGallery .front{
  opacity: 1;
  animation: 1s all ease;
  transition: 1s all ease;
}

.imgGallery .back {
  position: absolute;
  top: 0px;
  width: 250px;
  height: 150px;
  background-color: grey;
  opacity: 0;
  animation: 1s all ease;
  transition: 1s all ease;
  padding: 20px;
  margin: -10px;
  display: flex;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-flow: column;

}
.imgGallery .front:hover{
  opacity: 0.3;
}

.imgGallery .back:hover{
  opacity: 0.8;
  padding: 0px;
  margin: 0px;
}

.section4 {
  background-color: firebrick;
  height: auto;
  margin-bottom: 400px;
}

.section4 * {
  animation-duration: 2s !important;
}

.section4 .title {
  font-size: 1.5em;
  margin-left: 4em;
}

.section4 .workers-reel {
  margin: auto;
  max-width: 90%;
  flex-flow: wrap;
  margin-bottom: 2em;
}

.section4 .worker {
  margin: 3em;
  max-width: 150px;
  -webkit-animation-timing-function: cubic-bezier(.38, -0.47, .73, 1.45);
  -o-animation-timing-function: cubic-bezier(.38, -0.47, .73, 1.45);
  animation-timing-function: cubic-bezier(.38, -0.47, .73, 1.45);
}

.section4 .worker:nth-child(3) {
  -webkit-animation-delay: 0s !important;
  -o-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.section4 .worker:nth-child(4) {
  -webkit-animation-delay: 0.4s !important;
  -o-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

.section4 .worker:nth-child(2) {
  -webkit-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.section4 .worker:nth-child(1),
.section4 .worker:nth-child(5) {
  -webkit-animation-delay: 1.5s !important;
  -o-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.worker img {
  border-radius: 50%;
}

.worker .name {
  font-size: 1.5em;
  text-align: center
}

.worker .description {
  text-align: justify
}

.section5 {
  background-color: black;
  height: 400px;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: -3;
}

.section5 form {
  padding: 1em;
  flex: 7;
}

.section5 .newsletter-input {
  flex: 7;
  color: dimgrey;
}

.none {
  opacity: 0;
}
